datasets==2.12.0
emoji==2.14.1
Flask==2.2.2
google_api_python_client==2.160.0
matplotlib==3.7.1
pandas==1.5.3
pytube==15.0.0
scikit_learn==1.2.2
tensorflow==2.18.0
tensorflow_intel==2.16.1
torch==2.6.0
transformers==4.48.2
vaderSentiment==3.3.2
